body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#note{
  height: 220px;
  width: 220px;
  background-color: beige;
  overflow-wrap:normal;
  word-break: break-all;
  color:black;
  border: 2px solid black;
  display: block;
  padding: 5px;
}


#editTextArea{
  height: 200px;
  width: 200px;
}
